.App {
  text-align: center;
}

h1 {
  background-color: lightblue;
}

.Routing {
  background-color: whitesmoke;
}

nav {
  table-layout: fixed;
}

ul {
  list-style: none;
}

li {
  display: inline;
  margin: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 center;
  table-layout: fixed;
  margin-top: 20px;
  background-color: whitesmoke;
}
